  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }

  .center {
    margin: auto;
    width:80%;
  }
  
  .square {
    border: 0px solid;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    padding: 0;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  /* empty squares*/
  .empty {
    background: url('/empty.png') no-repeat;
    background-size: contain;
  }

  .empty-top {
    background: url('/empty-top.png') no-repeat;
    background-size: contain;
  }

  .empty-bottom {
    background: url('/empty-bottom.png') no-repeat;
    background-size: contain;
  }

  .empty-left {
    background: url('/empty-left.png') no-repeat;
    background-size: contain;
  }

  .empty-right {
    background: url('/empty-right.png') no-repeat;
    background-size: contain;
  }

  .empty-top-left {
    background: url('/empty-top-left.png') no-repeat;
    background-size: contain;
  }

  .empty-top-right {
    background: url('/empty-top-right.png') no-repeat;
    background-size: contain;
  }

  .empty-bottom-left {
    background: url('/empty-bottom-left.png') no-repeat;
    background-size: contain;
  }

  .empty-bottom-right {
    background: url('/empty-bottom-right.png') no-repeat;
    background-size: contain;
  }

  /* black squares */
  .black {
    background: url('/black.png') no-repeat;
    background-size: contain;
  }

  .black-top {
    background: url('/black-top.png') no-repeat;
    background-size: contain;
  }

  .black-bottom {
    background: url('/black-bottom.png') no-repeat;
    background-size: contain;
  }

  .black-left {
    background: url('/black-left.png') no-repeat;
    background-size: contain;
  }

  .black-right {
    background: url('/black-right.png') no-repeat;
    background-size: contain;
  }

  .black-top-left {
    background: url('/black-top-left.png') no-repeat;
    background-size: contain;
  }

  .black-top-right {
    background: url('/black-top-right.png') no-repeat;
    background-size: contain;
  }

  .black-bottom-left {
    background: url('/black-bottom-left.png') no-repeat;
    background-size: contain;
  }

  .black-bottom-right {
    background: url('/black-bottom-right.png') no-repeat;
    background-size: contain;
  }

  /* white squares */
  .white {
    background: url('/white.png') no-repeat;
    background-size: contain;
  }

  .white-top {
    background: url('/white-top.png') no-repeat;
    background-size: contain;
  }

  .white-bottom {
    background: url('/white-bottom.png') no-repeat;
    background-size: contain;
  }

  .white-left {
    background: url('/white-left.png') no-repeat;
    background-size: contain;
  }

  .white-right {
    background: url('/white-right.png') no-repeat;
    background-size: contain;
  }

  .white-top-left {
    background: url('/white-top-left.png') no-repeat;
    background-size: contain;
  }

  .white-top-right {
    background: url('/white-top-right.png') no-repeat;
    background-size: contain;
  }

  .white-bottom-left {
    background: url('/white-bottom-left.png') no-repeat;
    background-size: contain;
  }

  .white-bottom-right {
    background: url('/white-bottom-right.png') no-repeat;
    background-size: contain;
  }
  
  img {
    width: 40px;
    height: 40px;
    vertical-align:middle;
  }

  .black{
    background: url('/black.png') no-repeat;
    background-size: contain;
  }

  .white {
    background: url('/white.png') no-repeat;
    background-size: contain;
  }

  .black-blink{
    background: url('/black-blink.gif') no-repeat;
    background-size: contain;
  }

  .white-blink {
    background: url('/white-blink.gif') no-repeat;
    background-size: contain;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  