  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }

  .center {
    margin: auto;
    width:80%;
  }
  
  .square {
    background: url('/empty.png') no-repeat;
    background-size: contain;
    border: 0px solid;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    padding: 0;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  img {
    width: 40px;
    height: 40px;
    vertical-align:middle;
  }
  .black{
    background: url('/black-with-grid.png') no-repeat;
    background-size: contain;
  }

  .white {
    background: url('/white-with-grid.png') no-repeat;
    background-size: contain;
  }
  
  .warning {
    background: #e8f67f74;
  }

  .last-move {
    color: rgb(25, 213, 43);
  }
  
  .win {
    color: rgb(218, 12, 12);
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  