.main {
  margin: auto;
}

/* login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.loginSub {
  width: 300px;
}

#signupCheckbox {
  margin-left: 10px;
}

.loginSub input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 30px;
}

.loginSub button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  height: 30px;
  cursor: pointer;
  display: inline;
}

/* join game */
.joinGame input {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 220px;
  height: 30px;
}

.joinGame button {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 30px;
  cursor: pointer;
}

.joinGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

/* leave game*/
.leaveGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.leaveGame button {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  width: 220px;
  cursor: pointer;
}

/* logout */
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.logout button {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  width: 220px;
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
}

img {
  vertical-align: middle;
}

.header button {
  vertical-align: middle;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.go {
  background: url('../public/background19x19.png');
  background-size: contain;
}

.gobang {
  background: url('../public/background15x15.png');
  background-size: contain;
}

.square {
  border: 0px;
  float: left;
  padding: 0px;
  background-color: transparent;
}

.black {
  background: url('../public/black.png');
  background-size: contain;
}

/* white squares */
.white {
  background: url('../public/white.png');
  background-size: contain;
}

img {
  vertical-align: middle;
}

.blink {
  animation: anim-blink steps(1) 1.5s infinite;
  -webkit-animation: anim-blink steps(1) 1.5s infinite;
  -moz-animation: anim-blink steps(1) 1.5s infinite;
  -o-animation: anim-blink steps(1) 1.5s infinite;
  -ms-animation: anim-blink steps(1) 1.5s infinite;
}

@keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-webkit-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-moz-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-o-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-ms-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}