.main {
  margin: auto;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.go {
  background: url('../public/background19x19.png');
  background-size: contain;
}

.gobang {
  background: url('../public/background15x15.png');
  background-size: contain;
}

.auto {
  display: flex;
  justify-content: space-between;
}


.square {
  border: 0px;
  float: left;
  padding: 0px;
  background-color: transparent;
}

.black {
  background: url('../public/black.png');
  background-size: contain;
}

/* white squares */
.white {
  background: url('../public/white.png');
  background-size: contain;
}

img {
  vertical-align: middle;
}

.blink {
  animation: anim-blink steps(1) 1.5s infinite;
  -webkit-animation: anim-blink steps(1) 1.5s infinite;
  -moz-animation: anim-blink steps(1) 1.5s infinite;
  -o-animation: anim-blink steps(1) 1.5s infinite;
  -ms-animation: anim-blink steps(1) 1.5s infinite;
}

@keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-webkit-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-moz-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-o-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-ms-keyframes anim-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}