
@media screen and (min-width: 1100px), 
       screen and (min-height: 1100px) {
  
  .square {
    width: 64px;
    height: 64px;
  }
}

@media screen and (min-width: 840px) and (max-width: 1099px), 
       screen and (min-height: 840px) and (max-height: 1099px) {

  .square {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 630px) and (max-width: 839px), 
       screen and (min-height: 630px) and (max-height: 839px) {
  
  .square {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 629px), 
       screen and (max-height: 629px) {
  
  .square {
    width: 24px;
    height: 24px;
  }
}

.square {
  border: 0px;
  float: left;
  padding: 0;
}

.center {
  margin: auto;
  width:90%;
}

/* empty squares*/
.empty {
  background: url('../public/empty.png') no-repeat;
  background-size: contain;
}

.empty-top {
  background: url('../public/empty-top.png') no-repeat;
  background-size: contain;
}

.empty-bottom {
  background: url('../public/empty-bottom.png') no-repeat;
  background-size: contain;
}

.empty-left {
  background: url('../public/empty-left.png') no-repeat;
  background-size: contain;
}

.empty-right {
  background: url('../public/empty-right.png') no-repeat;
  background-size: contain;
}

.empty-top-left {
  background: url('../public/empty-top-left.png') no-repeat;
  background-size: contain;
}

.empty-top-right {
  background: url('../public/empty-top-right.png') no-repeat;
  background-size: contain;
}

.empty-bottom-left {
  background: url('../public/empty-bottom-left.png') no-repeat;
  background-size: contain;
}

.empty-bottom-right {
  background: url('../public/empty-bottom-right.png') no-repeat;
  background-size: contain;
}

/* black squares */
.black {
  background: url('../public/black.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-top {
  background: url('../public/black-top.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-bottom {
  background: url('../public/black-bottom.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-left {
  background: url('../public/black-left.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-right {
  background: url('../public/black-right.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-top-left {
  background: url('../public/black-top-left.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-top-right {
  background: url('../public/black-top-right.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-bottom-left {
  background: url('../public/black-bottom-left.png') 0 0 no-repeat;
  background-size: 200%;
}

.black-bottom-right {
  background: url('../public/black-bottom-right.png') 0 0 no-repeat;
  background-size: 200%;
}

/* white squares */
.white {
  background: url('../public/white.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-top {
  background: url('../public/white-top.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-bottom {
  background: url('../public/white-bottom.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-left {
  background: url('../public/white-left.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-right {
  background: url('../public/white-right.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-top-left {
  background: url('../public/white-top-left.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-top-right {
  background: url('../public/white-top-right.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-bottom-left {
  background: url('../public/white-bottom-left.png') 0 0 no-repeat;
  background-size: 200%;
}

.white-bottom-right {
  background: url('../public/white-bottom-right.png') 0 0 no-repeat;
  background-size: 200%;
}

img {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.blink {
  animation: anim-blink steps(2) 1.5s infinite;
}
@keyframes anim-blink { 0% {background-position: 0%;} 100% {background-position: 200%;} }

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.status button {
  font-size: 24px;
}